@font-face {
    font-family: 'YatraOne';
    src: url('./assets/font/Yatra_One/YatraOne-Regular.ttf') format('truetype');
  }
  
  .yatra {
    font-family: 'YatraOne', sans-serif !important;
  }
 .map{
  background-image: url('../images/map.jpg');
  height: 100vh;
  width: 100%;
 }